<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enter/tain_ME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body style="background-color:#ffffb3">

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent border border-primary border-2">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img src="images/logo.png" width="30" height="24" class="d-inline-block align-top" />
      Enter/tain ME
      </a>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav font-monospace">
        <li class="nav-item">
          <a class="nav-link" href="/inicio">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">ARTISTAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registrarse">REGISTRARSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil">PERFIL</a>
        </li>
        <form action="/logout" method="POST" class="nav-item">
        <button type="submit" class="btn-primary mt-1">CERRAR SESIÓN</button>
        </form>
      </ul>
    </div>
  </div>
</nav>

  
  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>