{{#if userInSession}}

<h3>Bienvenid@, {{userInSession.name}}</h3>

<h5>Aquí encontrarás la información de los usuarios registrados como prestadores de servicios</h5>

{{else}}

<p>Lo sentimos, para acceder a esta sección tienes que iniciar sesión</p>

{{/if}}
